@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --light-blue: #63abf8;
    --white: #fff;
    --salmon: rgb(250, 126, 113);
    --green: rgb(67, 216, 117);
    --dark-light: rgb(40, 40, 40);
    --dark: rgb(10, 10, 10);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Section */
section.playground{
    padding: 16px;
}
.app{
    width: 100%;
    height: max-content;
    padding: 8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
h1{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* Menu */
.menu{
    width: 800px;
    height: max-content;
    padding: 0px 16px 24px 16px;
    margin: 8px auto 0 auto;
    background-color: var(--light-blue);
}
.menu h1{
    padding: 8px;
    font-size: 1.025rem;
    font-weight: 600;
}
.menu .list{
    display: flex;
    justify-content: space-around;
}
.menu .list .category{
    display: flex;
    flex-direction: column;
}

/* Container */
.container{
    width: 100%;
    max-width: 800px;
    height: 600px;
    padding: 24px 18px;
    position: relative;
    border: 6px dashed var(--salmon);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.container::before{
    content: 'Container flexbox max-width: 800px; height: 600px;';
    font-style: italic;
    font-weight: 400;
    top: 0;
    padding-top: 8px;
    padding-left: 8px;
    left:  0;
    font-size: 1.25rem;
    opacity: 0.5;
    position: absolute;
}
.container .box{
    flex-shrink: 0;
    width: 150px;
    height: 200px;
    padding: 4px;
    background-color: var(--dark-light);
    position: relative;
    z-index: 1;
    border-radius: 16px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    gap: 8px;

    cursor: pointer;
}
.container .box.child{
    background-color: transparent;
    border: 3px dashed var(--dark);
}
.container .box.child:hover{
    background-color: transparent;
    border: 4px dashed var(--dark);
}
.container .box:hover{
    transform: translateY(-4px);
    transition: transform 200ms ease;
    background-color: var(--dark);
}
.container .box p{
    color: var(--dark);
    font-size: 1.25rem;
    padding: 4px;
    background-color: var(--white);
    border-radius: 4px;
}
.container .box:nth-child(2) p{
    background-color: var(--light-blue);
}
.container .box:nth-child(3) p{
    background-color: var(--salmon);
}
.container .box:nth-child(5) p{
    background-color: var(--green);
}